<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="/stylesheets/index.css">
</head>
<body>
    <nav class="nav-backgroud">
        <div class="nav-title">博客</div>
        <div class="nav-list">
          <ul>
            <a href="">
              <li>发现</li>
            </a>
            <a href="">
              <li>关注</li>
            </a>
            <a href="/news">
              <li>消息</li>
            </a>
            <a href="about">
              <li>关于</li>
            </a>
          </ul>
        </div>
        <div class="nav-user">
          <div class="user-img">
            <a><img src="" alt=""></a>
          </div>
          <a href="/writeBlog" class="btn-primary">写博客</a>
        </div>
      </nav>
      <!-- <section class="Blog-background">
       
            <textarea name=""  id="" cols="30" rows="10" placeholder="发表文章"></textarea>
            <a href="/">发表</a>
      </section> -->
      <section class="success">
         <div class="successBox">
            <div class="top">
                已发表成功是否回到首页？
             </div>
             <div class="check">
                 <a href="/">是</a><a href="/writeBlog">否</a>
             </div>
         </div>
      </section>
</body>
</html>